.aside {
  display: flex;
  flex-direction: column;
  grid-gap: 34px;

  &__inner {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    background-color: rgba(var(--bg-c), 1);
    border-radius: 10px;
    padding: 20px 26px;
  }

  &__list {
    grid-gap: 7px;
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(16px, 1.4286vw, 20px);

    .yellow-btn {
      width: fit-content;
      padding: 14px 39px;

      @include small-tablet {
        align-self: center;
        @include for-mobile {
          width: 140px;
        }
      }

      @include mobile {
        width: 100%;
      }
    }
  }

  &__sort {
    background: rgba(var(--bg-a), 1);
    border: 1px solid var(--br-e);
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    height: clamp(37px, 2.7857vw, 39px);

    &-input {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: clamp(14px, 1.1429vw, 16px);
      color: rgba(var(--cl-c), 1);

      &::placeholder {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: clamp(14px, 1.1429vw, 16px);
        color: rgba(var(--cl-f), 1);
      }
    }
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__item {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--br-d);
  }

  &__link {
    font-weight: 600;
    font-size: 18px;
    color: rgba(var(--cl-c), 1);
    line-height: 122%;
    transition: all 0.3s;

    &:hover {
      color: rgba(var(--cl-h), 1);
    }
  }

  .accordion {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    [data-content] {
      @include for-tablet {
        max-height: initial !important;
        overflow: visible !important;
      }

      @include tablet{
        @include for-small-tablet{
            min-height: 80px;
        }
      }

      @include small-tablet{
        min-height: 162px;
      }
    }

    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        align-self: center;
        width: 100%;
        svg{
            transition: all .4s;
            fill: none;
            stroke: rgba(var(--cl-c),1.0);
        }

        &:hover{
            svg{
                transform: scale(1.2);
            }
        }

        &.active{
            svg{
                transform: scaleY(-1);
            }
        }

        @include for-tablet{
            display: none;
        }
    }
  }
}
