.categories{
    display: flex;
    flex-direction: column;
    grid-gap: clamp(30px, 2.8571vw, 40px);

    &__list{
        display: flex;
        flex-wrap: wrap;

        @media (min-width: (900px)) {
            justify-content: space-between;
            grid-gap: 10px 20px;
        }

        @media (max-width: (900px)) {
            grid-gap: 10px;
        }

        @include mobile{
            flex-direction: column;
        }

        .categories__item{
            @include for-laptop{
                flex: 1 1 calc(25% - 20px);
            }
    
            @include laptop{
                @media (min-width: (900px)) {
                    flex: 1 1 calc(33.333% - 20px); 
                }
            }
    
            @media (max-width: (900px)) {
                @include for-mobile{
                    flex: 1 1 calc(50% - 10px);
               }
            }
    
            @include mobile{
                flex: 1 1 100%;
            }
        }
    }

    &__col{
        display: flex;
        flex-direction: column;
        grid-gap: 10px;

        @include small-tablet{
            display: contents;
        }
    }

    &__top{
        display: flex;
        align-items: center;
        grid-gap: clamp(16px, 1.4286vw, 20px);
        padding-bottom: 10px;
        position: relative;
        z-index: 1;

        @include laptop{
            flex-wrap: wrap;
        }

        &:before{
            content: '';
            z-index: 1;
            position: absolute;
            bottom: 0;
            width: 100%;
            border-bottom: 1px solid var(--br-a);
            pointer-events: none;

            @include for-small-tablet{
                transform: translateX(-50%);
                left: 50%;
            }

            @include small-tablet{
                left: 0;
                width: calc(100% + 10px);
            }
        }
    }

    &__sublist{
        display: flex;
        align-items: center;
        grid-gap: 6px;
        overflow-x: auto;

        @include tablet{
            @include for-small-tablet{
                grid-gap: 3px;
            }
        }

        @include small-tablet{
            width: calc(100% + 20px);
            margin: 0 -10px;
            padding: 0 10px;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__link{
        font-weight: 500;
        font-size: 16px;
        line-height: 162%;
        color: rgba(var(--cl-d),1.0);
        transition: all .4s;
        
        &:hover{
            color: rgba(var(--cl-e),1.0);
        }
    }

    &__title{
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        color: rgba(var(--cl-d),1.0);
        white-space: nowrap;
    }

    &__btn{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: rgba(var(--cl-d),1.0);
        border-radius: 100%;
        width: 29px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;
        line-height: 100%;

        @include tablet{
            @include for-small-tablet{
                width: 26px;
                height: 26px;
            }
        }

        &:hover{
            background-color: rgba(var(--bg-d),.2);
        }

        &.active{
            color: rgba(var(--cl-a),1.0);
            background-color: rgba(var(--bg-d),1.0);

            &:hover{
                background-color: rgba(var(--bg-d),.8);
            }
        }
    }

    .yellow-btn{
        align-self: center;
    }
}