.footer{
    background: rgba(var(--bg-c),1.0);
    padding: clamp(14px, 2.2857vw, 32px) 0;

    &__box{
        display: flex;
        align-items: center;
        justify-content: center;        
    }

    &__deskr{
        text-align: center;
        font-weight: 400;
        font-size: 14px;

        @include mobile{
            max-width: 210px;
        }
    }
}