.header {
  left: 0;
  right: 0;
  top: 0;
  padding: clamp(14px, 2.6071vw, 36.5px) 0;
  position: fixed;
  box-shadow: 0 2px 4px 0 rgba(0, 125, 173, 0.2);
  background: rgba(var(--bg-a),1.0);
  z-index: 80;

  &__box{
    display: grid;
    grid-gap: clamp(20px, 2.865vw, 55px);
    align-items: center;

    @include for-tablet{
      grid-template-columns: 100%;
      justify-items: center;
    }

    @include tablet{
      grid-template-columns: auto 1fr;

      .main-nav{
        justify-self: end;
      }
    }
  }


  .burger{
    @include for-tablet{
      display: none;
    }
  
    @include tablet{
      @include burger;
    }
  }
}


