.modal {
  position: relative;
  flex-direction: column;
  align-items: center;
  grid-gap: 25px;
  border-radius: 10px;
  z-index: 1;
  max-width: clamp(440px, 27.0833vw, 520px);
  padding: 26px 11px;
  width: 90vw;
  background-color: rgba(var(--bg-a),1.0);
  &__wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 24px;
  }

  &__top{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    width: 100%;
  }

  &__subtitle{
      font-weight: 700;
      font-size: 18px;
      color: rgba(var(--cl-c),1.0);
  }

  &__adress{
    font-weight: 400;
    font-size: 16px;
    color: rgba(var(--cl-c),1.0);
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;
    width: 100%;

    p{
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      color: rgba(var(--cl-f),1.0);
    }
  }

  &__title{
    font-weight: 700;
    font-size: clamp(20px, 2.1429vw, 30px);
    color: rgba(var(--cl-d),1.0);
  }

  &__btns{
    display: grid;
  
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-gap: 16px;
    

    .yellow-btn, .transparent-btn{
      width: 100%;
      margin-top: 0;
    }

    .close{
      position: static;
      height: 45px;
    }

    @include for-mobile{
      grid-template-columns: repeat(2, 186px);
    }

    @include mobile{
      grid-template-columns: 100%;
    }
  }


  &.filter {
    max-width: initial;
    width: 100vw;
    height: 100%;

    .close{
      top: -14px;
    }
  

    .modal{

      &__box{
        width: 100%;
      }

      &__wrapp{
        width: 100%;
        padding-bottom: 26px;
      }
    }

    .search{
      max-width: 100%;

   
    }

    .filter-list{
      width: 100%;

      @include mobile{
        grid-template-columns: 100%;
      }
    }
  }

  &.write{
    padding: clamp(30px, 4vw, 56px) clamp(15px, 3.4286vw, 48px) clamp(25px, 3.5714vw, 50px);
    max-width: clamp(430px, 32.5714vw, 456px);

    .main-form{

      .yellow-btn{
        margin-top: 4px;

        @include for-mobile{
          width: 300px;
          height: 59px;
        }
      }
    }
  }

  &.edit{
    box-shadow: 0 2px 4px 0 rgba(0, 125, 173, 0.2);
    padding: 16px clamp(15px, 1.7143vw, 24px);
    max-width: clamp(560px, 49.2143vw, 689px);

    .main-form{
      max-width: 100%;
    }

    .modal{
      &__top{
        margin-bottom: clamp(5px, 1.4286vw, 20px);
      }

      &__btns{
        margin-top: clamp(5px, .7143vw, 10px);
      }
    }
  }

  &.change{
    padding: clamp(30px, 4vw, 56px) clamp(15px, 3.4286vw, 48px) clamp(25px, 3.5714vw, 50px);
    max-width: clamp(430px, 32.5714vw, 456px);

    .main-form{
      &__inner{
        grid-gap: 14px;
      }

      &__wrapp{
        grid-gap: 10px;
      }

      .yellow-btn{
        margin-top: 4px;

        @include for-mobile{
          width: 300px;
          height: 59px;
        }
      }
    }
  }
}
