.info-card{
    display: flex;
    flex-direction: column;

    @include for-mobile{
        grid-gap: 20px;
    }

    @include mobile{
        grid-gap: 25px;
    }
    

    &__image{
        width: 100%;
        height: auto;
        display: flex;
        
        @include for-small-tablet{
            transition: all .8s;
        }

        @include small-tablet{
            transition: all .6s;
        }

        img,picture{
            width: 100%;
            height: auto;
        }
    }

    p{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp(18px, 1.4881vw, 20px);
        color: rgba(var(--bg-e),1.0);
        line-height: 110%;
    }
}