<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="RYP Yellow">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RYP Yellow</title>

  <link rel="preload" href="fonts/Urbanist-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Urbanist-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Urbanist-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Urbanist-SemiBold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Urbanist-Black.woff" as="font" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/air-datepicker.css">
</head>
