<header class="header fixed-block">
  <div class="container">
    <div class="header__box">
    
      <div class="burger">
        <span class="burger__line"></span>
      </div>

      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a href="index.html" class="main-nav__link">
              <span class="main-nav__icon">
                <svg width='16' height='14'>
                  <use href='img/sprite/sprite.svg#home'></use>
                </svg>
              </span>
              HOME</a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">PRINT VERSION</a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">POSREDNIK NEWSPAPER</a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">Classifieds</a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">CONTACT US</a>
          </li>


          <li class="main-nav__item main-nav__item--mode">
            <div class="nav-box"> 
              <button class="nav-box__btn">
                <span class="nav-box__icon">
                  <svg width='16' height='16'>
                    <use href='img/sprite/sprite.svg#user'></use>
                  </svg>
                </span>
                <span class="nav-box__arrow">
                  <svg width='10' height='5'>
                    <use href='img/sprite/sprite.svg#arrow-b'></use>
                  </svg>
                </span>
              </button>
              <div class="nav-box__links">
                <a href="#" class="nav-box__link">
                  <span class="nav-box__icon">
                    <svg width='16' height='16'>
                      <use href='img/sprite/sprite.svg#user'></use>
                    </svg>
                  </span>
                  LOGIN
                </a>
                <a href="#" class="nav-box__link">
                  registration
                </a>
              </div>
            
            

              <div class="nav-box__wrapp">
                <a href="#" class="nav-box__link">Login</a>
                <a href="#" class="nav-box__link">Registration</a>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>


    <div class="mobile">
      <div class="mobile__menu">
          <ul class="mobile__menu-list">
            <li><a href="/">
              <span class="main-nav__icon">
                <svg width='16' height='14'>
                  <use href='img/sprite/sprite.svg#home'></use>
                </svg>
              </span>
              HOME
            </a></li>
            <li><a href="#">PRINT VERSION</a></li>
            <li><a href="#">POSREDNIK NEWSPAPER</a></li>
            <li><a href="#">Classifieds</a></li>
            <li><a href="#">CONTACT US</a></li>
          </ul>
      </div>
    </div>
  </div>
</header>





