<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="Flowers">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flowers</title>

  <link rel="preload" href="fonts/Quattrocento.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Quattrocento-Bold.woff" as="font" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">


  
  <link rel="stylesheet" href="css/swiper.css">
</head>
