.auth-section{
    margin-bottom: clamp(50px, 8.3571vw, 117px);
    min-height: calc(clamp(592px, 67.2143vw, 941px) - clamp(50px, 8.3571vw, 117px));
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-bottom: 5px;
    &__bg{
        pointer-events: none;
        z-index: -1;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        svg{
            width: Min(104.167vw, 2000px);
            height: auto;


            @include for-full-hd{
                width: 100vw;
            }

            @include mobile{
                min-width: 650px;
            }
        }
    }

    @include for-mobile {
      padding-top: 18px;
    }
  
    @include mobile {
      padding-top: 20px;
    }

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(25px, 3.9286vw, 55px);
    }

    .main-form{
        max-width: 792px;
        box-shadow: 0 2px 4px 0 rgba(0, 125, 173, 0.2);
        background: rgba(var(--bg-a),1.0);
        border-radius: 10px;
        align-items: center;

        @include for-mobile{
            padding:  clamp(32px, 3.5714vw, 50px) clamp(10px, 7.9286vw, 111px) clamp(31px, 3.5714vw, 50px);
        }

        @include mobile{
            padding:  30px clamp(10px, 3.072vw, 25px);
        }

        &__title{
            font-size: clamp(26px, 3.2857vw, 46px);
            padding-bottom: calc(clamp(4px, .5714vw, 8px) + clamp(10px, 1.6429vw, 23px));
        }

        &__bottom{
            &:not(.main-form__bottom--mode){
                .yellow-btn, .transparent-btn{
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }

    &--mode{
        .auth-section__bg{
            bottom: calc(clamp(50px, 8.3571vw, 117px) - clamp(50px, 6.2143vw, 87px));
        }
    }
}