.category-section {
  padding-bottom: clamp(50px, 6.4286vw, 90px);

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(24px, 3.6364vw, 40px);
  }

  &__content {
    display: grid;

    @include for-tablet {
      grid-template-columns: clamp(251px, 23.9286vw, 335px) 1fr;
      grid-gap: clamp(15px, 1.4286vw, 20px);
    }

    .aside {
      &__inner {
        @include small-tablet {
          margin-top: 4px;
        }
      }
    }

    @include tablet {
      grid-gap: 30px 20px;

      @include for-small-tablet {
        grid-template-columns: repeat(2, calc(50% - 10px));
      }

      .aside {
        display: contents;

        &__inner {
          @include for-small-tablet {
            grid-row: 2;
            grid-column: 2;
          }
        }
      }

      .banner-slider {
        margin-bottom: 3px;
        grid-row: 1;

        @include for-small-tablet {
          grid-column: 1/-1;
        }
      }
    }

    @include small-tablet {
      grid-template-columns: 100%;
    }
  }

  &__wrapp {
    display: grid;
    grid-gap: clamp(15px, 1.4286vw, 20px);

    @include for-tablet {
      grid-template-columns: 1fr clamp(250px, 24vw, 336px);
    }

    @include tablet {
      display: contents;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: clamp(24px, 3.5vw, 49px);

    .yellow-btn {
      @include mobile {
        width: 100%;
      }
    }

    @include for-tablet {
      padding-bottom: calc(
        clamp(32px, 4.9286vw, 69px) - clamp(15px, 1.4286vw, 20px)
      );
    }

    @include tablet {
      padding-bottom: calc(clamp(32px, 4.9286vw, 69px) - 30px);
      grid-column: 1/-1;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    padding-top: 25px;
    border-top: solid 2px var(--br-f);
    grid-column: 1/-1;
    align-items: center;

    p {
      line-height: 110%;

      @include mobile{
        font-weight: 500;
      }
    }

    .hidden-btn {
      @include for-mobile {
        display: none;
      }
    }

    .editor{
      @include mobile{
        max-height: 46px;
        overflow: hidden;
      }
    }
  }

  &--business{

    .main-top--mode{
      @include small-tablet{
        order: -2;
        margin: 10px 0 5px;
      }
    }

    .video{
      @include tablet{
        grid-column: 1/-1;
      }

      @include small-tablet{
        order: 2;
      }
    }

    .filter-slider{
      @include tablet{
        order: -1;
        grid-column: 1/-1;
      }
    }

    .main-wrapper{
      @include tablet{
        display: contents;
      }

      &__inner{
        @include tablet{
          grid-column: 1/-1;
        }

        @include small-tablet{
          order: 1;
        }

        @include mobile{
          grid-gap: 20px;
        }
      }

      &__box{
        @include tablet{
          grid-column: 1/-1;
        }

        @include small-tablet{
          order: 2;

          &:last-child{
            order: 3;
          }
        }
      }
    }

    .category-section{

      &__content{
        @include small-tablet{
          display: contents;
        }
      }

      &__box{
        @include mobile{
          grid-gap: 20px;
        }
      }
    }
  }
}
