.contacts-section{
    padding-bottom: clamp(50px, 6.4286vw, 90px);

    @include ios{
        margin-top: -2px;
    }

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(25px, 2.8571vw, 40px);
    }

    &__inner{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(49px, 5.1429vw, 72px);
    }

    .main-form{

        .yellow-btn{
            margin-top: clamp(4px, 1.1429vw, 16px);
        }
    }
}