.cta-section{
    padding: 50px 0;
    background: rgba(var(--bg-c),1.0);
    overflow: hidden;
    margin-bottom: clamp(100px, 11.1607vw, 150px);

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(20px, 3.7202vw, 50px);
    }

    &__title{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: clamp(30px, 5.2083vw, 70px);
        color: rgba(var(--cl-a),1.0);

        @include for-small-tablet{
            line-height: 114%;
            letter-spacing: -0.02em;
        }

        br{
            @include for-mobile{
                display: none;
            }
        }
    }

    p{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        color: rgba(var(--cl-a),1.0);
        line-height: 110%;

        @include for-small-tablet{
            max-width: 660px;
            align-self: flex-end;
        }
    }

    &__wrapp{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(15px, 2.2321vw, 30px);
    }

    &.mode{
        background: rgba(var(--bg-e),1.0);
    }

    &.process{
        background: rgba(var(--bg-d),1.0);

        .cta-section{

            &__title{
                color: rgba(var(--cl-c),1.0);
            }

            &__wrapp{

                p:first-of-type{
                   @include for-small-tablet{
                    align-self: center;
                    max-width: 540px;
                   }
                }
            }
        }

        p{
            color: rgba(var(--cl-c),1.0);
            font-size: clamp(18px, 1.4881vw, 20px);

            @include for-small-tablet{
                max-width: 543px;
            }
        }
    }
}