.banner-slider{

    &__nav{
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 21px;

        @include for-tablet{
            display: none;
        }
    }

    .swiper{
        &-container{
            @include tablet{
                margin-left: calc(var(--container-offset) * -1);
                width: calc(100% + (var(--container-offset) * 2));
                padding: 0 var(--container-offset);
            }
        }

        &-wrapper{
            @include for-tablet{
                display: flex;
                flex-direction: column;
                grid-gap: 15px;
            }
        }

        &-slide{
            padding-bottom:5px;
            // height: 100%;
            // @include for-tablet{
            //     max-height: calc(clamp(177px, 14.2143vw, 199px) + 5px);
            // }
        
            // @include tablet{
            //     @include for-small-tablet{
            //         max-height: calc(clamp(180px, 27.734vw, 284px) + 5px);
            //     }
            // }
        }
    }

    .banner-card{
        height: 100%;
    }
}