.top-slider {
  .swiper {
    &-container {
      @include tablet {
        margin-left: calc(var(--container-offset) * -1);
        width: calc(100% + (var(--container-offset) * 2));
        padding: 0 var(--container-offset);
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &-slide {
      display: flex;
      transition: all 0.4s;
    //   transform: scale(0.73);

      &-active {
        transform: scale(1);
      }
    }
  }
}
