.top-slider{

 

    .swiper{
        &-container{
          @include for-small-tablet{
            display: flex;
            justify-content: center;
          }

            @include small-tablet{
                margin-left: calc(var(--container-offset) * -1);
                width: calc(100% + (var(--container-offset) * 2));
                padding: 0 var(--container-offset);
            }
        }

        &-wrapper{
          @include for-small-tablet{
            display: flex;
            align-items: flex-end;
            width: fit-content;
          }
        }

        &-slide{
          margin: 0 calc(clamp(10px, 2.6786vw, 36px) / 2);
          transition: all .6s;
         
          @include for-small-tablet{
            width: clamp(164px, 23.0655vw, 310px) !important;
          }

          @include small-tablet{
            height: 100%;
            width: clamp(215px, 31.5476vw, 424px);
          }
       
          &:not(.swiper-slide-active){
            .info-card{
              padding-bottom: 10px;

              &__image{
                @include for-small-tablet{
                  max-height: clamp(208px, 31.7708vw, 427px);
                }

                @include small-tablet{
                  transform: scale(.8);

                  height: clamp(258px, 37.76vw, 290px);
                }
              }

              p{
                @include small-tablet{
                  opacity: 0;
                  transition: all .4s;
                }
              }
            }
          }
        
            &-active{
                @include for-small-tablet{
                  width: clamp(265px, 31.5476vw, 424px) !important;
                }
            }
        
        }
    }
   
    .swiper-pagination{
      display: flex;
      grid-gap: 10px;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      .swiper-pagination-bullet{
        display: flex;
        width: 11px;
        height: 11px;
        border-radius: 100%;
        background-color: rgba(var(--bg-c),1.0);

        &-active{
          background-color: rgba(var(--bg-e),1.0);
        }
      }

      @include for-small-tablet{
        display: none;
      }
    }
}