.yellow-btn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: rgba(var(--cl-a),1.0);
  border-radius: 4px;
  padding: 14px 30px;
  height: 45px;
  background: rgba(var(--bg-d),1.0);
  transition: all .1s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    background: rgba(var(--bg-d),.75);
    transform: translateY(2px);
  }

  &:disabled{
    color: rgba(var(--cl-j),1.0);
    background-color: rgba(var(--bg-c),1.0);
    pointer-events: none;
  }
}

.black-btn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: rgba(var(--cl-a),1.0);
  border-radius: 4px;
  padding: 14px 30px;
  height: 45px;
  background: rgba(var(--bg-b),1.0);
  transition: all .1s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    background: rgba(var(--bg-d),1);
    transform: translateY(2px);
  }

  &:disabled{
    color: rgba(var(--cl-j),1.0);
    background-color: rgba(var(--bg-c),1.0);
    border-color: rgba(var(--bg-c),1.0);
    pointer-events: none;
  }
}

.transparent-btn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: rgba(var(--cl-c),1.0);
  border-radius: 4px;
  padding: 14px 30px;
  height: 45px;
  border: 1px solid #000;
  background: rgba(var(--bg-a),1.0);
  transition: all .1s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    color: rgba(var(--cl-h),1.0);
    border-color: var(--br-b);
    transform: translateY(2px);
  }

  &:disabled{
    color: rgba(var(--cl-j),1.0);
    background-color: rgba(var(--bg-c),1.0);
    border-color: rgba(var(--bg-c),1.0);
    pointer-events: none;
  }
}

.filter-btn{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: rgba(var(--bg-d),1.0);
  box-shadow: 0 2px 4px 0 rgba(0, 125, 173, 0.2);
  transition: all .3s;

  &:hover{
    box-shadow: 2px 4px 7px 0 rgba(0, 125, 173, 0.3);
  }
}

.hidden-btn{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: rgba(var(--cl-b),1.0);
  border-bottom: solid 1px var(--br-b);
  transition: all .3s;
  width: fit-content;

  &:hover{
    border-color: transparent;
  }
}

.geo-btn{
  display: flex;
  align-items: center;
  grid-gap: 4px;

  &:hover{
    .geo-btn__text{
      border-color: transparent;
    }
  }

  &__text{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: rgba(var(--cl-b),1.0);
    border-bottom: solid 1px var(--br-b);
    transition: all .3s;
    width: fit-content;
  }
}

.edit-btn{
  display: flex;
  align-items: center;
  grid-gap: 10px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: rgba(var(--cl-c),1.0);
  transition: all .3s;

  img,svg{
    transition: all .3s;
    display: flex;
    margin-top: -2px;
    pointer-events: none;
  }

  &:hover{
    color: rgba(var(--cl-e),1.0);

    img,svg{
      transform: scale(1.05);
    }
  }
}

.download-btn{
  border: 1px solid var(--br-g);
  border-radius: 4px;
  padding: 14px clamp(15px, 2.1429vw, 30px);
  height: 48px;
  width: fit-content;
  min-width: 235px;
  grid-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  color: rgba(var(--cl-c),1.0);
  transition: all .3s;
  cursor: pointer;

  &:hover{
    border-color: var(--br-b);
    color: rgba(var(--cl-h),1.0);
  }
}
