html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100dvw;
  will-change: font-size;
  font-size: 16px;

}

body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  will-change: font-size;
  color: rgba(var(--cl-c),1.0);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162%;
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;


  &.fixed-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
}

main {
  min-width: 0 !important;
  
  &.no-padding {
    padding: 0;
  }
}

.about-section, .cta-section, .first-section, .info-section{
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li{
    margin: 0;
    list-style: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  
  
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  picture {
    display: inline-flex;
  }
  

.container {
  position: relative;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-offset);
}
}