.select {
    position: relative;
    user-select: none;
    width: 100%;
    transition: all .1s;
    border: 1px solid var(--br-e);
    border-radius: 6px;
    height: clamp(37px, 2.7857vw, 39px);
    background: rgba(var(--bg-a), 1);
    z-index: 10;

    &::before{
      position: absolute;
      content: '';
      border-radius: inherit;
      z-index: -1;
      background: rgba(var(--bg-a), 1);
      inset: 0 -1px 0 -1px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      padding: 0 10px;
    }

    &:after{
      position: absolute;
      z-index: 8;
      content: '';
      border-bottom: 1px solid var(--br-d);
      left: 9px;
      right: 9px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  
    &__header {
      width: 100%;
      max-width: 100%;
      cursor: pointer;
      gap: 15px;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 6;
      padding: 5px 10px;
      height: clamp(37px, 2.7857vw, 39px);
  
      & > svg {
        transition: transform .2s linear;
        flex-shrink: 0;
        width: 10px;
        aspect-ratio: 1;
        fill: none;
        stroke:rgba(var(--cl-c),1.0);
        
        @include mobile {
          width: 10px;
        }
      }
    }
  
    &__current {
      flex-grow: 1;
      overflow: hidden;
      width: 100%;
      display: flex;
      align-items: center;
      grid-gap: 7px;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: color .3s;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: clamp(14px, 1.1429vw, 16px);
      color:rgba(var(--cl-c),1.0);

      line-height: 130%;
  
      &:hover {
        color: rgba(var(--cl-e),1.0);
      }
    }
  
    &__body {
      right: -1px;
      position: absolute;
      z-index: 5;
      height: 0;
      top: calc(100% - 1px);
      overflow: hidden;
      transition: height 0.1s ease-in;
      left: -1px;
      border: solid 1px transparent;
      border-top: none;
      border-radius: 4px;
      padding: 0 10px;
     
      i {
        margin: 0;
        text-transform: uppercase;
        font-size: inherit;
        line-height: inherit;
      }
    }
  
    &__list {
      overflow-y: auto;
    
      padding:10px 0 14px;
      display: flex;
      flex-direction: column;
      grid-gap: 10px;
      

      &::-webkit-scrollbar-thumb {
        background-color: rgba(47, 47, 47, 0.4);
        border-radius: 8px;
      }
  
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
  
      &::-webkit-scrollbar {
        width: 3px;
        border-radius: 99px;
      }
    }
  
    &__option {
      display: flex;
      padding: 10px 0;
      align-items: center;
      grid-gap: 5px;
      width: 100%;
      cursor: pointer;
   
      line-height: 100%;
      transition: all .3s;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: clamp(14px, 1.1429vw, 16px);
      color:rgba(var(--cl-c),1.0);
      border-bottom: 1px solid var(--br-d);
  
      &:hover {
        color: rgba(var(--cl-e),1.0);
      }
  
      a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }
  
  .select.active {
    z-index: 30;
    border-radius: 6px 6px 0 0;
    border-color: transparent;
    box-shadow: 0 2px 4px 0 rgba(0, 125, 173, 0.2);

    &::before{
      opacity: 1;
      visibility: visible;
      z-index: 6;
    }

    &::after{
      opacity: 1;
      visibility: visible;
    }
  
    .select__body{
      border-radius: 0 0 6px 6px;
      background: rgba(var(--bg-a),1.0);
      box-shadow: 0 2px 4px 0 rgba(0, 125, 173, 0.2);
    }

    .select__header > svg {
      transform: scaleY(-1);
    }
  }
  
  .date-select {
    display: flex;
    align-items: center;
    border-radius: 6px;
    height: clamp(37px, 2.7857vw, 39px);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(14px, 1.1429vw, 16px);
    color:rgba(var(--cl-c),1.0);
    cursor: pointer;
    padding: 5px 5px 4px 5px;
    border: 1px solid var(--br-e);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' fill='none'%3E%3Cpath stroke='%231D1D1D' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='m1 1 5 5 5-5'/%3E%3C/svg%3E");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 10px;
      height: 6px;
      pointer-events: none;
    }

    input{
      font-family: var(--font-family);
      font-weight: 500;
      font-size: clamp(14px, 1.1429vw, 16px);
      color:rgba(var(--cl-c),1.0);
      cursor: pointer;
      padding-right: 25px;

      &::placeholder{
        color: rgba(var(--cl-f), 1);
        font-family: var(--font-family);
        font-weight: 500;
        font-size: clamp(14px, 1.1429vw, 16px);
      }
    }
  }
  .air-datepicker{
    margin-top: 5px !important;

    .air-datepicker-cell.-month-.-selected-{
        background-color: #f2b50f;
    }

    .air-datepicker-cell.-current-{
      color: #f2b50f;
    }
  }